  .scanning{
    margin:auto;
    position:relative;
    width:100%;
  }
  .scanning .screen
  {
    margin:auto;
    width:100%;
  }
  .scanning em:before,  .scanning em:after, .scanning .screen:before,  .scanning .screen:after {
    border-color: rgba(0, 0, 0, 0.8);
    content: "";
    position: absolute;
    width: 19px;
    height: 16px;
    border-style: solid;
    border-width: 0px;
    z-index: 9999;
  }
  .scanning .screen:before {
    left: 0;
    top: 0;
    border-left-width: 3px;
    border-top-width: 3px;
  }
  .scanning .screen:after {
    right: 0;
    top: 0;
    border-right-width: 3px;
    border-top-width: 3px;
  }
  .scanning em:before {
    left: 0;
    bottom: 0;
    border-left-width: 3px;
    border-bottom-width: 3px;
  }
  .scanning em:after {
    right: 0;
    bottom: 0;
    border-right-width: 3px;
    border-bottom-width: 3px;
  }
  
  .scanning .scan
  {
    width: 100%;
    height: 15px;
    background-color: rgba(20, 206, 97, 0.5);
    position:absolute;
    z-index:9999;
    box-shadow:0px 0px 30px rgba(255,204,102,.5);
    top: 0;
  }

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    text-align: center;
    margin: 0;
    /* 10px 20px */
  }
  
  .no-js .inputfile + label {
    display: none;
  }
  
  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  .inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
  }
  
  .inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
  }
  
  
  /* style red */
  
  .inputfile-red + label {
    color: #f1e5e6;
    background-color: #d3394c;
  }
  
  .inputfile-red:focus + label,
  .inputfile-red.has-focus + label,
  .inputfile-red + label:hover {
    background-color: #722040;
  }

/* style blue */

.inputfile-blue + label {
    color: #f1e5e6;
    background-color: #064ead;
}
    
.inputfile-blue:focus + label,
.inputfile-blue.has-focus + label,
.inputfile-blue + label:hover {
    background-color: #073168;
}

  .fa-plus {
      font-size: 2em;
      color: green;
  }

  .btn-transfer {
    background: #a0047e;
    color: #f1e5e6;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 10px 30px;
  }

  .btn-transfer:hover {
    color: #f1e5e6;
    background: #460237;
  }

  #transfering {
    font-size: 5em;
    color: #a0047e;
    margin-top: 10%;
  }

  .canvasContainer{
    border: 1px dotted black;
   } 

   @media screen and (min-width: 768px) and (max-width: 992px) {
    .fa-plus{
        font-size: 2em;
    }
    .btn-transfer {
        padding: 10px 10px;
      }
  }
  @media screen and (min-width: 992px) {
    .fa-plus{
        font-size: 3em;
    }
  }

  .arrowAnim {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrowAnim.top-to-bottom {
    height : 50px;
  }
  
  .arrow {
    width: 10px;
    height: 10px;
    border: 2.5px solid;
    
  }
  .arrowAnim.right-to-left  .arrow {
    transform: rotate(-45deg);
    border-color: #064ead transparent transparent #064ead;
  }
  .arrowAnim.rightTop-to-leftBottom  .arrow {
    transform: rotate(-90deg);
    border-color: #064ead transparent transparent #064ead;
  }
  .arrowAnim.left-to-right  .arrow {
    transform: rotate(135deg);
    border-color: #d3394c transparent transparent #d3394c;
  }
  .arrowAnim.leftTop-to-rightBottom  .arrow {
    transform: rotate(180deg);
    border-color: #d3394c transparent transparent #d3394c;
  }
  .arrowAnim.top-to-bottom  .arrow {
    transform: rotate(-135deg);
    border-color: #d3394c transparent transparent #a0047e;
  }
  
  
  .arrowAnim.left-to-right .arrowSliding {
    position: absolute;
    -webkit-animation: slide-left-to-right 4s linear infinite; 
            animation: slide-left-to-right 4s linear infinite;
  }
  .arrowAnim.leftTop-to-rightBottom .arrowSliding {
    position: absolute;
    -webkit-animation: slide-leftTop-to-rightBottom 4s linear infinite; 
            animation: slide-leftTop-to-rightBottom 4s linear infinite;
  }
  .arrowAnim.right-to-left .arrowSliding {
    position: absolute;
    -webkit-animation: slide-right-to-left 4s linear infinite; 
            animation: slide-right-to-left 4s linear infinite;
  }
  .arrowAnim.rightTop-to-leftBottom .arrowSliding {
    position: absolute;
    -webkit-animation: slide-rightTop-to-leftBottom 4s linear infinite; 
            animation: slide-rightTop-to-leftBottom 4s linear infinite;
  }
  .arrowAnim.top-to-bottom .arrowSliding {
    position: absolute;
    -webkit-animation: slide-top-to-bottom 4s linear infinite; 
            animation: slide-top-to-bottom 4s linear infinite;
  }

  .arrowAnim.right-to-left .arrowSliding.delay1,
  .arrowAnim.left-to-right .arrowSliding.delay1,
  .arrowAnim.leftTop-to-rightBottom .arrowSliding.delay1, 
  .arrowAnim.rightTop-to-leftBottom .arrowSliding.delay1,
  .arrowAnim.top-to-bottom .arrowSliding.delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .arrowAnim.right-to-left .arrowSliding.delay2,
  .arrowAnim.left-to-right .arrowSliding.delay2,
  .arrowAnim.leftTop-to-rightBottom .arrowSliding.delay2, 
  .arrowAnim.rightTop-to-leftBottom .arrowSliding.delay2,
  .arrowAnim.top-to-bottom .arrowSliding.delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .arrowAnim.right-to-left .arrowSliding.delay3,
  .arrowAnim.left-to-right .arrowSliding.delay3,
  .arrowAnim.leftTop-to-rightBottom .arrowSliding.delay3, 
  .arrowAnim.rightTop-to-leftBottom .arrowSliding.delay3,
  .arrowAnim.top-to-bottom .arrowSliding.delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide-right-to-left {
      0% { opacity:0; transform: translateX(5vw); }	
     20% { opacity:1; transform: translateX(3vw); }	
     80% { opacity:1; transform: translateX(-3vw); }	
    100% { opacity:0; transform: translateX(-5vw); }	
  }
  @keyframes slide-right-to-left {
      0% { opacity:0; transform: translateX(5vw); }	
     20% { opacity:1; transform: translateX(3vw); }	
     80% { opacity:1; transform: translateX(-3vw); }	
    100% { opacity:0; transform: translateX(-5vw); }	
  }
  @-webkit-keyframes slide-rightTop-to-leftBottom {
      0% { opacity:0; transform: translateX(5vw) translateY(5vw); }	
     20% { opacity:1; transform: translateX(3vw) translateY(3vw); }	
     80% { opacity:1; transform: translateX(-3vw) translateY(-3vw); }	
    100% { opacity:0; transform: translateX(-5vw) translateY(-5vw); }	
  }
  @keyframes slide-rightTop-to-leftBottom {
      0% { opacity:0; transform: translateX(5vw) translateY(-5vw); }	
     20% { opacity:1; transform: translateX(3vw) translateY(-3vw); }	
     80% { opacity:1; transform: translateX(-3vw) translateY(3vw); }	
    100% { opacity:0; transform: translateX(-5vw) translateY(5vw); }	
  }
  @-webkit-keyframes slide-left-to-right {
      0% { opacity:0; transform: translateX(-5vw); }	
     20% { opacity:1; transform: translateX(-3vw); }	
     80% { opacity:1; transform: translateX(3vw); }	
    100% { opacity:0; transform: translateX(5vw); }	
  }
  @keyframes slide-left-to-right {
      0% { opacity:0; transform: translateX(-5vw); }	
     20% { opacity:1; transform: translateX(-3vw); }	
     80% { opacity:1; transform: translateX(3vw); }	
    100% { opacity:0; transform: translateX(5vw); }		
  }
  @-webkit-keyframes slide-leftTop-to-rightBottom {
     0% { opacity:0; transform: translateX(-5vw) translateY(-5vw); }	
    20% { opacity:1; transform: translateX(-3vw) translateY(-3vw); }	
    80% { opacity:1; transform: translateX(3vw) translateY(3vw); }	
   100% { opacity:0; transform: translateX(5vw) translateY(5vw); }	
  }
  @keyframes slide-leftTop-to-rightBottom {
     0% { opacity:0; transform: translateX(-5vw) translateY(-5vw); }	
    20% { opacity:1; transform: translateX(-3vw) translateY(-3vw); }	
    80% { opacity:1; transform: translateX(3vw) translateY(3vw); }	
   100% { opacity:0; transform: translateX(5vw) translateY(5vw); }	
  }
  @-webkit-keyframes slide-top-to-bottom {
     0% { opacity:0; transform: translateY(-40px); }	
    20% { opacity:1; transform: translateY(-30px); }	
    80% { opacity:1; transform: translateY(10px); }	
   100% { opacity:0; transform: translateY(20px); }	
  }
    @keyframes slide-top-to-bottom {
     0% { opacity:0; transform: translateY(-40px); }	
    20% { opacity:1; transform: translateY(-30px); }	
    80% { opacity:1; transform: translateY(10px); }	
   100% { opacity:0; transform: translateY(20px); }	
  }